@model ContactForm

<!--====== Contact PART START ======-->

<div class="contact-map-area pt-50">
    <div id="contact-map"></div>
</div>

<!--====== Contact PART ENDS ======-->
<!--====== Contact Part Start ======-->

<section class="contact-page pt-20">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="contact-form mt-30">
                    <h4 class="allup-title">Billing Address</h4>
                    <form id="contact-form" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-form">
                                    <input asp-for="Name" placeholder="Your Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-form">
                                    <input asp-for="Email" placeholder="Your Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-form">
                                    <input asp-for="Subject" placeholder="Subject">
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-form">
                                    <textarea asp-for="Message" placeholder="Your Message"></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>
                            </div>
                            <p class="form-message"></p>
                            <div class="col-md-12">
                                <div class="single-form">
                                    <button type="submit" class="main-btn main-btn-2">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-5 col-xl-4">
                @await Component.InvokeAsync("ContactInformation")
            </div>
        </div>
    </div>
</section>

<!--====== Contact Part Ends ======-->



@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script src="~/assets/plugins/js/ajax-contact.js"></script>
    <!--====== Google Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ5y0EF8dE6qwc03FcbXHJfXr4vEa7z54"></script>
    <script src="~/assets/js/map-script.js"></script>
}