@model List<Bio>

<hr class="my-5" />

<!-- Bordered Table -->
<div class="card">
	<div class="card-header" style="display:flex;justify-content:space-between">
		<h2>
			Bio
		</h2>

	</div>
	<div class="card-body">
		<div class="table-responsive text-nowrap">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th style="text-align:center">Image</th>
						<th>Header Description</th>

					</tr>
				</thead>
				<tbody>
					@foreach (Bio item in Model)
					{
						<tr>

							<td style="text-align:center;">
								<img src="~/assets/images/@item.HeaderImage" style="height:60px;width:190px; object-fit:cover; border-radius:0px;">
							</td>

							<td>@Html.Raw(item.HeaderDescription)</td>

							<td>
								<div style="display:flex;justify-content:flex-end">
									<a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-warning rounded-pill text-white" style="margin-right:10px">Detail</a>
									<a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info rounded-pill text-white" style="margin-right:10px">Update</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--/ Bordered Table -->

<hr class="my-5" />