@model Blog

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Create Blog</h5>

            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">

                    <div class="mb-3 form-group">
                        <label asp-for="Photo" class="form-label">Photo</label>
                        <input asp-for="Photo" accept="image/*" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Title" class="form-label">Title</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Author" class="form-label">Author</label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Select Tags</label>
                        <select multiple class="form-control" name="tagsId[]">
                            @foreach (Tag tag in ViewBag.Tags)
                            if(Model.Detail.BlogTags.Any(x=>x.TagId==tag.Id))
                            {
                                 <option selected value="@tag.Id">@tag.Name</option>
                            }
                            else
                            {
                                 <option  value="@tag.Id">@tag.Name</option>
                            }
                        </select>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Description" class="form-label">Description</label>
                        <textarea id="editor" asp-for="Description" class="form-control"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a asp-action="Index" class="btn btn-secondary">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>


}

